
extends layouts/base

block variables 
    - var siteTitle = 'About';

block content
    include layouts/header
    main(id="main" class="main")
        - for (var x = 0; x < 5; x++)
            section.section Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Послушавшись обеспечивает, меня семантика переписывается подпоясал выйти путь правилами на берегу, встретил власти языкового даже ее, проектах предложения парадигматическая использовало семь!
    footer(id="footer" class="footer")
        .footer__inner
            p.copy.
                &copy; qmpwwsd
    